// ПОРТФОЛИО
.btn-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  &__list:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and(min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.btn-menu__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--color-original);
  color: var(--color-dark);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color var(--animation), color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: var(--shadow-btn);
  }
}
