/* ФОРМА МОДАЛКИ */

.form-modal {
  margin: 40px;
}

.form-modal__title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}

.form-modal__set {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-modal__label {
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--color-gray);

  display: flex;
  margin-bottom: 4px;
}

.form-modal__imput-set {
  position: relative;
}

.form-modal__imput {
  width: 100%;
  padding: 14px 35px;
  border-radius: 4px;
  border: var(--border-form-input);
  outline: none;
  cursor: pointer;

  @include transition(border);

  &:hover,
  &:focus {
    border: var(--border-clients-hover);
  }
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-gray);

  @include transition(fill);
}

.form-modal__imput:hover ~ .form-modal__icon,
.form-modal__imput:focus ~ .form-modal__icon {
  fill: var(--color-blue);
}

.form-modal__comment {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: var(--border-form-input);
  resize: none;
  outline: none;

  @include transition(border);

  &:hover,
  &:focus {
    border: var(--border-clients-hover);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

/* ЧЕКБОКС */

.checkbox {
  display: flex;
  justify-content: center;
}

.checkbox__input {
  appearance: none;
  position: absolut;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 1px solid #212121;
  border-radius: 2px;
  @include transition(border);
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--color-blue);
  background-image: url(../images/icon-check.svg);
  border: none;

  @include transition(background-color);
}

.checkbox__input:hover + .checkbox__icon,
.checkbox__input:focus + .checkbox__icon {
  border-color: var(--color-blue);
}

.checkbox__text {
  font-weight: 400;
  color: var(--color-gray);

  &--conditions {
    text-decoration: underline;
    color: var(--color-blue);
  }
}
