/* ХЕДЕР */

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  color: var(--color-dark);

  padding: 24px 0 25px;
  margin-right: 93px;

  &--web {
    color: var(--color-blue);
  }
}

.header__conteiner {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.header__list {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__item {
  margin-right: 50px;

  &--last {
    margin-right: 0;
  }
}

.header__link {
  position: relative;

  color: var(--color-dark);
  padding: 32px 0;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }
}

/* подчёркивание ссылки текущей страницы */
.header__link--current-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-blue);
}

.header__contact {
  display: inline-flex;
  align-items: center;
  padding: 32px 0;
  color: var(--color-gray);

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--color-blue);
  }
}

.header__phone {
  fill: currentColor;
  margin-right: 10px;
}
