/* ПОРТФОЛИО */
/* СПИСОК ПРОЕКТОВ */

.projects-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  &__item {
    border: var(--border-projects);
    @include transition(box-shadow);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and(min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;

      &:not(:last-child) {
        margin-bottom: unset;
      }
    }

    @media screen and(min-width: 1200px) {
      width: calc(100% / 3 - 30px);
    }

    &:hover,
    &:focus {
      box-shadow: var(--shadow-project);
    }
  }

  &__conteiner {
    padding: 20px 24px;
  }

  &__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    margin-bottom: 4px;
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    color: var(--color-gray);
  }
}

.projects-list > .projects-list__item:nth-child(3n) {
  margin-right: 0;
}
